In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
%matplotlib inline

In [2]:
_2015_df = pd.read_csv('pitches_processed_2015.csv', index_col=0)
_2016_df = pd.read_csv('pitches_processed_2016.csv', index_col=0)
_2017_df = pd.read_csv('pitches_processed_2017.csv', index_col=0)
_2018_df = pd.read_csv('pitches_processed_2018.csv', index_col=0)
player_names = pd.read_csv('player_names.csv')

In [3]:
df_list = [_2015_df, _2016_df, _2017_df, _2018_df]

In [4]:
player_names.columns

Index(['id', 'first_name', 'last_name'], dtype='object')

In [5]:
_2015_df.columns

Index(['ab_id', 'b_count', 's_count', 'b_score', 'batter_id', 'batter_side',
       'code', 'g_id', 'inning', 'on1b', 'on2b', 'on3b', 'p_score',
       'pitch_type', 'pitcher_id', 'pitcher_side', 'ptype', 'px', 'pz', 'top',
       'target', 'pitcher_ahead', 'pitcher_behind', 'CH', 'CU', 'EP', 'FA',
       'FC', 'FF', 'FO', 'FS', 'FT', 'IN', 'KC', 'KN', 'PO', 'SC', 'SI', 'SL',
       'UN'],
      dtype='object')

In [6]:
_2015_df.pitch_type.unique()

array(['FF', 'SL', 'FT', 'CH', 'CU', 'FO', 'FC', 'SI', 'PO', 'FS', 'KC',
       'IN', 'EP', 'UN', 'KN', 'SC', 'FA'], dtype=object)

In [7]:
_2015_df = _2015_df.merge(player_names, left_on='pitcher_id', right_on='id')

In [8]:
_2015_df.head()

,ab_id,b_count,s_count,b_score,batter_id,batter_side,code,g_id,inning,on1b,...,KC,KN,PO,SC,SI,SL,UN,id,first_name,last_name
0,2015000001,0,0,0,444876,True,C,201500001,1,False,...,0.0,0.0,0.0,0.0,0.0,0.149969,0.0,489119,Wade,Miley
1,2015000001,0,1,0,444876,True,F,201500001,1,False,...,0.0,0.0,0.0,0.0,0.0,0.149969,0.0,489119,Wade,Miley
2,2015000001,0,2,0,444876,True,B,201500001,1,False,...,0.0,0.0,0.0,0.0,0.0,0.149969,0.0,489119,Wade,Miley
3,2015000001,1,2,0,444876,True,D,201500001,1,False,...,0.0,0.0,0.0,0.0,0.0,0.149969,0.0,489119,Wade,Miley
4,2015000002,0,0,0,450314,True,F,201500001,1,True,...,0.0,0.0,0.0,0.0,0.0,0.149969,0.0,489119,Wade,Miley

In [9]:
wrangled_df_list = []

def data_wrangling_4_classes(data_frames):
    '''
    Wrangles data for all 4 data frames in one function. data_frames must be a list of data frames.
    '''
    
    for df in tqdm(data_frames):
        
        ball_4 = df[df.b_count == 4].index
        df.drop(ball_4, axis=0, inplace=True)
        df.replace(True, 1, inplace=True)
        
        df = df.merge(player_names, left_on='pitcher_id', right_on='id')
        
        df['pitch_type'].replace(['FF', 'FT', 'SI'], 'FB', inplace=True)
        df['pitch_type'].replace(['CU', 'FC', 'KC', 'SL', 'SC'], 'BB', inplace=True)
        df['pitch_type'].replace(['CH', 'EP', 'FS', 'KN'], 'OS', inplace=True)
        df['pitch_type'].replace(['FO', 'PO', 'IN', 'UN', 'FA'], 'OT', inplace=True)
    
        d = {i: 0 for i in df['ab_id']}
        p_in_ab_list = []
        for i in df['ab_id']:
            if i in d.keys():
                d[i] += 1
                p_in_ab_list.append(d[i])
        df['p_in_ab'] = p_in_ab_list
        
        wrangled_df_list.append(df)
    
    return wrangled_df_list

In [10]:
data_wrangling_4_classes(df_list);

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:22<00:00,  5.63s/it]

In [11]:
wrangled_2015_df_4_classes = wrangled_df_list[0]
wrangled_2016_df_4_classes = wrangled_df_list[1]
wrangled_2017_df_4_classes = wrangled_df_list[2]
wrangled_2018_df_4_classes = wrangled_df_list[3]

In [12]:
wrangled_2015_df_4_classes.to_csv('wrangled_2015_4_classes.csv')
wrangled_2016_df_4_classes.to_csv('wrangled_2016_4_classes.csv')
wrangled_2017_df_4_classes.to_csv('wrangled_2017_4_classes.csv')
wrangled_2018_df_4_classes.to_csv('wrangled_2018_4_classes.csv')

In [13]:
wrangled_df_list = []

def data_wrangling_all_classes(data_frames):
    '''
    Wrangles data for all 4 data frames in one function. data_frames must be a list of data frames.
    '''
    
    for df in tqdm(data_frames):
        
        ball_4 = df[df.b_count == 4].index
        df.drop(ball_4, axis=0, inplace=True)
        df.replace(True, 1, inplace=True)
        
        df = df.merge(player_names, left_on='pitcher_id', right_on='id')
            
        d = {i: 0 for i in df['ab_id']}
        p_in_ab_list = []
        for i in df['ab_id']:
            if i in d.keys():
                d[i] += 1
                p_in_ab_list.append(d[i])
        df['p_in_ab'] = p_in_ab_list
        
        wrangled_df_list.append(df)
    
    return wrangled_df_list

In [14]:
data_wrangling_all_classes(df_list);

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:25<00:00,  6.49s/it]

In [15]:
wrangled_2015_df_all_classes = wrangled_df_list[0]
wrangled_2016_df_all_classes = wrangled_df_list[1]
wrangled_2017_df_all_classes = wrangled_df_list[2]
wrangled_2018_df_all_classes = wrangled_df_list[3]

In [16]:
wrangled_2015_df_all_classes.to_csv('wrangled_2015_all_classes.csv')
wrangled_2016_df_all_classes.to_csv('wrangled_2016_all_classes.csv')
wrangled_2017_df_all_classes.to_csv('wrangled_2017_all_classes.csv')
wrangled_2018_df_all_classes.to_csv('wrangled_2018_all_classes.csv')